@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-image: linear-gradient(white,rgb(68, 65, 65));
     font-family: "Caveat", cursive;
     margin: 0;
}
nav{
    border-radius: 14px;
    height: 80px;
}
a{
    background-color: rgb(194, 194, 194);
    text-decoration: none;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-size: 40px;
    
    
    
}
.a{
    text-align: right;
}
.navigation{
background-image: linear-gradient(rgb(206, 221, 233),rgb(123, 134, 197));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
img{
    width: 150px;
    height: 80px;
}
h1{
    font-size: 80px;
    text-align: center;
}