@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-image: linear-gradient(white,rgb(68, 65, 65));
     font-family: "Caveat", cursive;
     margin: 0;
}
a{
    background-color: rgb(194, 194, 194);
    text-decoration: none;
    border-radius: 10px;
    margin: 70px;
    padding: 10px;
    font-size: 70px;
    
}
.img{
    width: 120px;
    height: 120px;

}
h1{
    font-size: 80px;
    text-align: center;
}
.rate{
    text-align: center;
    display:flex;
    justify-content: space-between;
}